{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}

  <!-- Open Graph -->
  <meta property="og:title" content="SalsaNOW Documentation Website">
  <meta property="og:description" content="The official SalsaNOW documentation website.">
  <meta property="og:image" content="https://salsanowfiles.work/SalsaNOW%20Documentation/SalsaNOWDocumentationBanner.jpg">
  <meta property="og:url" content="https://documentation.salsanowfiles.work/">
  <meta property="og:type" content="website">

{% endblock %}